:root {
  --primary                : #186399;
  --secondary              : #ffa514;
  --tertiary               : #ed4250
  --hue1                   : #42a6ed;
  --hue2                   : #73c2fb;
  --hue3                   : #9ed6ff;
  --light                  : #faf8f5;
  --dark                   : #333231;
  --font-family-sans-serif : "Roboto", sans-serif;
  --font-family            : "Roboto", sans-serif;
  --font-family-monospace  : "Roboto Mono", monospace;
}

/**
 * TYPO font-family: 'Roboto', sans-serif; font-family: 'Roboto Mono',
 * monospace; font-family: 'Source Sans Pro', sans-serif;
 */
.text-mono {
  font-family : var(--font-family-monospace) !important;
}

.text-normal {
  font-family: var(-font-family) !important;
}

p {
  font-family : var(--font-family-monospace) !important;
}

.text-dark {
  color: var(--dark) !important;
}

.text-light {
  color: var(--light) !important;
}

.text-highlight {
  color: var(--secondary) !important;
}

.text-hue1 {
  color: var(--hue1) !important;
}

.text-hue2 {
  color: var(--hue2) !important;
}

.text-hue2 {
  color: var(--hue2) !important;
}

.bg-dark {
  background-color: var(--dark) !important;
}

.bg-light {
  background-color: var(--light) !important;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.bg-secondary {
  background-color: var(--secondary) !important;
}

.bg-hue1 {
  background-color: var(--hue1) !important;
}

.bg-hue2 {
  background-color: var(--hue2) !important;
}

.title-1 {
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 1.5;
}

.title-2 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2;
}

.title-3 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
}

.subtitle-1 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
}

.subtitle-2 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2;
}

.subtitle-3 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
}

.text-medium {
  font-weight: 500 !important;
}

.small-1 {
  font-size: 90% !important;
}

.small-2 {
  font-size: 95% !important;
  line-height: 1.5;
}

/*---------------------------------------------------------------------
Sections padding
---------------------------------------------------------------------*/
.s3 {
  padding : 3% 0;
}
.s4  {
  padding : 4% 0;
}
.s5 {
  padding : 5% 0;
}

/* Pricing */

.text-white {
  color : var(--light);
}

/* Menu */

.text-menu {
  padding-right : 4rem;
  font-family   : var(--font-family-monospace);
}

a.text-menu {
  color : var(--light) !important;
}

.intro {
  padding : 12% 15% 10% 15%;
}

.intro-bg {
  background-image: url(/img/p1.svg);
  background-position: center center;
  background-repeat: repeat;
  background-size: 900px;
  height: 850px;
}
.full-height {
  height: 100%;
}
.partner-img {
  width   : 80%;
  height  : 80%;
  opacity : 0.5;
}

/* Footer */

.footer {
  padding : 3rem 1rem 1rem 1rem;
}

.text-footer,
a.text-footer {
  color           : var(--light);
  text-decoration : none;
  font-family     : var(--font-family-monospace);
  font-size       : 0.8rem !important;
}

.title-footer {
  color       : var(--light);
  font-family : var(--font-family-monospace);
  font-size   : 1rem !important;
}


/* Team */

.social-icon {
  padding : 0.5em;
  color   : var(--dark);
}


/*
--------------------------------------------------
Slick slider
--------------------------------------------------
*/

.slick-slide {
  margin : 0px 20px;
}

.slick-slide img {
  width : 100%;
}

.slick-slider {
  display             : block;
  box-sizing          : border-box;
  position            : relative;
  -moz-user-select    : none;
  -ms-user-select     : none;
  -webkit-user-select : none;
  user-select         : none;
}

.slick-list {
  display  : block;
  position : relative;
  margin   : 0;
  padding  : 0;
  overflow : hidden;
}

.slick-list:focus {
  outline : none;
}

.slick-list.dragging {
  cursor : pointer;
  cursor : hand;
}

.slick-slider .slick-list,
.slick-slider .slick-track {
  -moz-transform    : translate3d(0, 0, 0);
  -ms-transform     : translate3d(0, 0, 0);
  -o-transform      : translate3d(0, 0, 0);
  -webkit-transform : translate3d(0, 0, 0);
  transform         : translate3d(0, 0, 0);
}

.slick-track {
  display  : block;
  position : relative;
  top      : 0;
  left     : 0;
}

.slick-track:after,
.slick-track:before {
  content : '';
  display : table;
}

.slick-track:after {
  clear : both;
}

.slick-loading .slick-track {
  visibility : hidden;
}

.slick-slide {
  display    : none;
  height     : 100%;
  min-height : 1px;
  float      : left;
}

[dir='rtl'] .slick-slide {
  float : right;
}

.slick-slide img {
  display : block;
}

.slick-slide.slick-loading img {
  display : none;
}

.slick-slide.dragging img {
  pointer-events : none;
}

.slick-initialized .slick-slide {
  display : block;
}

.slick-loading .slick-slide {
  visibility : hidden;
}

.slick-vertical .slick-slide {
  display : block;
  height  : auto;
  border  : 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display : none;
}





/* Button */

.btn-primary {
  color            : var(--light) !important;
  border-color     : var(--primary) !important;
  background-color : var(--primary) !important;
}

.btn-primary:hover {
  color            : var(--light) !important;
  border-color     : var(--secondary) !important;
  background-color : var(--secondary) !important;
}

.btn-primary.focus,
.btn-primary:focus {
  box-shadow : 0 0 0 0.2rem rgba(0, 123, 255, 0.5) !important;
}

.btn-primary.disabled,
.btn-primary:disabled {
  color            : #fff !important;
  border-color     : #007bff !important;
  background-color : #007bff !important;
}

.btn-outline-primary {
  color: var(--secondary) !important;
  background-color: transparent !important;
  background-image: none !important;
  border-color: var(--secondary) !important;
}

.btn-outline-primary:hover {
  color: #fff !important;
  background-color: var(--secondary) !important;
  border-color: var(--secondary) !important;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.5) !important;
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: var(--secondary) !important;
  background-color: transparent !important;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff !important;
  background-color: var(--secondary) !important;
  border-color: var(--secondary) !important;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.5) !important;
}
