//.................................................................................................
//.LLLLL..........IIII..IBBBBBBBBBBBB.....RRRRRRRRRRRRR....EEEEEEEEEEEEEE.......AAAAAA......AIIII..
//.LLLLL..........IIII..IBBBBBBBBBBBBB....RRRRRRRRRRRRRR...EEEEEEEEEEEEEE......AAAAAAA......AIIII..
//.LLLLL..........IIII..IBBBBBBBBBBBBBB...RRRRRRRRRRRRRRR..EEEEEEEEEEEEEE......AAAAAAA......AIIII..
//.LLLLL..........IIII..IBBBB.....BBBBB...RRRR.....RRRRRR..EEEEE...............AAAAAAAA.....AIIII..
//.LLLLL..........IIII..IBBBB.....BBBBB...RRRR.......RRRR..EEEEE..............AAAAAAAAA.....AIIII..
//.LLLLL..........IIII..IBBBB.....BBBBB...RRRR.......RRRR..EEEEE..............AAAA.AAAA.....AIIII..
//.LLLLL..........IIII..IBBBB...BBBBBBB...RRRR......RRRRR..EEEEE..............AAAA.AAAAA....AIIII..
//.LLLLL..........IIII..IBBBBBBBBBBBBB....RRRR....RRRRRRR..EEEEEEEEEEEEE.....AAAAA..AAAA....AIIII..
//.LLLLL..........IIII..IBBBBBBBBBBBBB....RRRRRRRRRRRRRR...EEEEEEEEEEEEE.....AAAA...AAAA....AIIII..
//.LLLLL..........IIII..IBBBBBBBBBBBBBB...RRRRRRRRRRRRR....EEEEEEEEEEEEE.....AAAA...AAAAA...AIIII..
//.LLLLL..........IIII..IBBBB.....BBBBBB..RRRRRRRRRRRR.....EEEEE............AAAAAAAAAAAAA...AIIII..
//.LLLLL..........IIII..IBBBB......BBBBB..RRRR....RRRRR....EEEEE............AAAAAAAAAAAAA...AIIII..
//.LLLLL..........IIII..IBBBB......BBBBB..RRRR....RRRRR....EEEEE............AAAAAAAAAAAAAA..AIIII..
//.LLLLL..........IIII..IBBBB.....BBBBBB..RRRR.....RRRRR...EEEEE...........AAAAA.....AAAAA..AIIII..
//.LLLLLLLLLLLLL..IIII..IBBBBBBBBBBBBBBB..RRRR.....RRRRRR..EEEEEEEEEEEEEEE.AAAAA......AAAA..AIIII..
//.LLLLLLLLLLLLL..IIII..IBBBBBBBBBBBBBB...RRRR......RRRRR..EEEEEEEEEEEEEEEEAAAA.......AAAAA.AIIII..
//.LLLLLLLLLLLLL..IIII..IBBBBBBBBBBBBB....RRRR.......RRRRR.EEEEEEEEEEEEEEEEAAAA.......AAAAA.AIIII..
//.................................................................................................
/*
Root
Basic Text and Titles
Backgrounds
Paddings
Menu
Intro Section
Footer
About Us
Partner Slider
Project Card
Buttons
Engangement
Other
*/
/*
* === Root ===
*/
:root {
  --primary: #186399;
  --secondary: #ffa514;
  --tertiary: #ed4250;
  --hue1: #42a6ed;
  --hue2: #73c2fb;
  --hue3: #9ed6ff;
  --light: #faf8f5;
  --dark: #333231;
  --font-family-sans-serif: "Roboto", sans-serif;
  --font-family: "Roboto", sans-serif;
  --font-family-monospace: "Roboto Mono", monospace;
}

/*
* === Basic Text and Titles ===
*/
.text-mono {
  font-family: var(--font-family-monospace) !important;
}

.text-normal {
  font-family: var(-font-family) !important;
}

p {
  font-family: var(--font-family-monospace) !important;
}

.text-dark {
  color: var(--dark) !important;
}

.text-light {
  color: var(--light) !important;
}

.text-primary {
  color: var(--primary) !important;
}

.text-highlight {
  color: var(--secondary) !important;
}

.text-hue1 {
  color: var(--hue1) !important;
}

.text-hue2 {
  color: var(--hue2) !important;
}

.text-hue2 {
  color: var(--hue2) !important;
}

.title-1 {
  font-size: 2.5rem;
}

@media (min-width : 576px) {
  .title-1 {
    font-size: 4.5rem;
    font-weight: 400;
    line-height: 1.5;
  }
}

.title-2 {
  text-align: left;
  font-size: 2rem;
}

@media (min-width : 768px) {
  .title-2 {
    text-align: center;
    font-size: 3rem;
    line-height: 1.2;
  }
}

.title-3 {
  font-size: 2rem;
  line-height: 1.2;
}

@media (max-width : 576px) {
  .title-3 {
    font-size: 1.5rem;
  }
}

.subtitle-1 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.4;
}

@media (min-width : 576px) {
  .subtitle-1 {
    font-size: 1.5rem;
  }
}

.subtitle-2 {
  text-align: left;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2;
}

@media (min-width : 768px) {
  .subtitle-2 {
    text-align: center;
    font-size: 1.2rem;
  }
}

.subtitle-3 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
}

.subtitle-4 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2;
}

.text-medium {
  font-weight: 500 !important;
}

.small-1 {
  font-size: 90% !important;
}

.small-2 {
  font-size: 95% !important;
  line-height: 1.5;
}

/*
* === Backgrounds ===
*/
.bg-dark {
  background-color: var(--dark) !important;
}

.bg-light {
  background-color: var(--light) !important;
}

.bg-light-1 {
  background-color: rgba(250, 248, 245, 0.9);
}

.bg-primary {
  background-color: var(--primary) !important;
}

.bg-secondary {
  background-color: var(--secondary) !important;
}

.bg-tertiary {
  background-color: var(--tertiary) !important;
}

.bg-hue1 {
  background-color: var(--hue1) !important;
}

.bg-hue2 {
  background-color: var(--hue2) !important;
}

.bg-hue3 {
  background-color: var(--hue3) !important;
}

/*
* === Paddings ===
*/
.s3 {
  padding: 3% 0;
}

.s4 {
  padding: 4% 0;
}

.s5 {
  padding: 5% 0;
}

.full-height {
  height: 70%;
}

/*
* === Menu ===
*/
.text-menu {
  padding-right: 4rem;
  font-family: var(--font-family-monospace);
}

a.text-menu {
  color: var(--light) !important;
}

/*
* === Intro section ===
*/
.intro {
  padding-top: 20% !important;
  padding-right: 15% !important;
  padding-bottom: 20% !important;
  padding-left: 15% !important;
}

@media (min-width : 576px) {
  .intro {
    padding-top: 10% !important;
    padding-right: 12% !important;
    padding-bottom: 10% !important;
    padding-left: 12% !important;
  }
}

@media (min-width : 768px) {
  .intro {
    padding-top: 10% !important;
    padding-right: 15% !important;
    padding-bottom: 10% !important;
    padding-left: 15% !important;
  }
}

@media (min-width : 1200px) {
  .intro {
    padding-top: 7% !important;
    padding-right: 30% !important;
    padding-bottom: 7% !important;
    padding-left: 30% !important;
  }
}

@media (min-width : 1400px) {
  .intro {
    padding-top: 12% !important;
    padding-right: 30% !important;
    padding-bottom: 12% !important;
    padding-left: 30% !important;
  }
}

.intro-bg {
  background-image: url(/img/p3.png);
  background-size: 450px;
}

@media (min-width : 768px) {
  .intro-bg {
    background-size: 768px;
  }
}

@media (min-width : 1200px) {
  .intro-bg {
    background-size: 1200px;
  }
}

/*
* === Footer ===
*/
.footer {
  padding: 3rem 1rem 1rem 1rem;
}

.text-footer,
a.text-footer {
  color: var(--light);
  text-decoration: none;
  font-family: var(--font-family-monospace);
  font-size: 0.8rem !important;
}

.title-footer {
  color: var(--light);
  font-family: var(--font-family-monospace);
  font-size: 1rem !important;
}

.footer-link:hover {
  text-decoration: none;
  color: var(--secondary);
}

/*
* === About Us ===
*/
.partner-img {
  width: 80%;
  height: 80%;
  opacity: 0.5;
}

.social-icon {
  padding: 0.5em;
  color: var(--dark);
}

/*
* === Partner slider ===
*/
.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider {
  display: block;
  box-sizing: border-box;
  position: relative;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.slick-list {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-list,
.slick-slider .slick-track {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  display: block;
  position: relative;
  top: 0;
  left: 0;
}

.slick-track:after,
.slick-track:before {
  content: '';
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  height: 100%;
  min-height: 1px;
  float: left;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/*
* === Project Card ===
*/
.card {
  border: 0px;
  background-clip: border-box !important;
}

/*
* === Buttons ===
*/
.button {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  border: 1px solid transparent;
  border-radius: 0rem;
  text-align: center;
  vertical-align: middle;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  white-space: nowrap;
  transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

@media screen and (prefers-reduced-motion : reduce) {
  .button {
    transition: none;
  }
}

.button:focus,
.button:hover {
  text-decoration: none;
}

.button.focus,
.button:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-primary {
  color: var(--light) !important;
  border-color: var(--primary) !important;
  background-color: var(--primary) !important;
}

.btn-primary:hover {
  color: var(--light) !important;
  border-color: var(--secondary) !important;
  background-color: var(--secondary) !important;
}

.btn-primary.focus,
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5) !important;
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff !important;
  border-color: #007bff !important;
  background-color: #007bff !important;
}

.btn-outline-primary {
  color: var(--secondary) !important;
  border-color: var(--secondary) !important;
  background-image: none !important;
  background-color: transparent !important;
}

.btn-outline-primary:hover {
  color: #fff !important;
  border-color: var(--secondary) !important;
  background-color: var(--secondary) !important;
}

.btn-outline-primary.focus,
.btn-outline-primary:focus {
  box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.5) !important;
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color: var(--secondary) !important;
  background-color: transparent !important;
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show>.btn-outline-primary.dropdown-toggle {
  color: #fff !important;
  border-color: var(--secondary) !important;
  background-color: var(--secondary) !important;
}

.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.5) !important;
}

.btn-black {
  color: var(--light) !important;
  border-color: var(--dark) !important;
  background-color: var(--dark) !important;
}

.btn-black:hover {
  color: var(--light) !important;
  border-color: var(--secondary) !important;
  background-color: var(--secondary) !important;
}

.btn-black.focus,
.btn-black:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5) !important;
}

.btn-black.disabled,
.btn-black:disabled {
  color: #fff !important;
  border-color: #007bff !important;
  background-color: #007bff !important;
}

.btn-outline-black {
  color: var(--secondary) !important;
  border-color: var(--secondary) !important;
  background-image: none !important;
  background-color: transparent !important;
}

.btn-outline-black:hover {
  color: #fff !important;
  border-color: var(--secondary) !important;
  background-color: var(--secondary) !important;
}

.btn-outline-black.focus,
.btn-outline-black:focus {
  box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.5) !important;
}

.btn-outline-black.disabled,
.btn-outline-black:disabled {
  color: var(--secondary) !important;
  background-color: transparent !important;
}

.btn-outline-black:not(:disabled):not(.disabled).active,
.btn-outline-black:not(:disabled):not(.disabled):active,
.show>.btn-outline-black.dropdown-toggle {
  color: #fff !important;
  border-color: var(--secondary) !important;
  background-color: var(--secondary) !important;
}

.btn-outline-black:not(:disabled):not(.disabled).active:focus,
.btn-outline-black:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-black.dropdown-toggle:focus {
  box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.5) !important;
}

/*
* === Engangement solution ===
*/
.list {
  margin: 4rem 0 2rem;
  padding: 0;
  text-align: left;
  list-style-type: none;
}

.list-item {
  display: flex;
  margin-bottom: 3rem;
  align-items: center;
}

@media (max-width : 450px) {
  .list-item {
    display: block;
    margin-bottom: 3.5rem;
    text-align: center;
  }
}

.list-item:last-child {
  margin-bottom: 0;
}

.list-item>* {
  padding: 0 2rem;
}

@media (max-width : 450px) {
  .list-item>* {
    padding: 0;
  }
}

.list-small .media-body p {
  font-size: 1rem;
}

@media (max-width : 450px) {
  .list-small .media-body p {
    font-size: 1.2rem;
  }
}

.list-connected .list-item {
  position: relative;
  margin-bottom: 5rem;
  align-items: flex-start;
}

@media (max-width : 450px) {
  .list-connected .list-item {
    margin-bottom: 3rem;
    text-align: left;
  }
}

.list-connected .list-item h3 {
  margin-top: 0;
}

.list-connected .list-item .media-body {
  margin-top: 0.75rem;
  padding: 0 0 0 5rem;
}

@media (max-width : 450px) {
  .list-connected .list-item .media-body {
    padding-left: 3rem;
  }
}

.list-connected .list-item .media-title {
  padding: 0 5rem 0 0;
  flex: 1;
}

@media (max-width : 450px) {
  .list-connected .list-item .media-title {
    padding: 0 0 0 3rem;
  }
}

.list-connected .list-item::before {
  content: "";
  position: absolute;
  top: 0rem;
  right: auto;
  left: -4px;
  width: 1rem;
  height: 1rem;
  background-color: var(--primary);
}

@media (min-width : 768px) {
  .list-connected .list-item::before {
    left: 21.5rem;
    width: 0.7rem;
    height: 0.7rem;
  }
}

@media (min-width : 960px) {
  .list-connected .list-item::before {
    left: 48.1%;
  }
}

@media (min-width : 1200px) {
  .list-connected .list-item::before {
    left: 40.2%;
  }
}

.list-connected .list-item::after {
  content: "";
  position: absolute;
  top: 15%;
  right: auto;
  left: 0;
  height: calc(100% + 1rem);
  border-image: linear-gradient(var(--primary), var(--hue2)) 2;
  border-right: 0.2rem solid var(--primary);
}

@media (min-width : 768px) {
  .list-connected .list-item::after {
    left: 21.73rem !important;
  }
}

@media (min-width : 960px) {
  .list-connected .list-item::after {
    left: 48.6% !important;
  }
}

@media (min-width : 1200px) {
  .list-connected .list-item::after {
    left: 40.5% !important;
  }
}

.list-connected .list-item:nth-child(2)::before {
  background-color: var(--hue2);
}

.list-connected .list-item:nth-child(2)::after {
  border-image: linear-gradient(var(--hue2), var(--hue3)) 2;
}

.list-connected .list-item:nth-child(3) {
  margin-bottom: 0;
}

.list-connected .list-item:nth-child(3)::before {
  background-color: var(--hue3);
}

.list-connected .list-item:nth-child(3)::after {
  border-right: none;
}

.e-title {}

@media (max-width : 720px) {
  .e-title {
    margin-left: 3rem !important;
    padding-left: 0.5rem !important;
  }
}

.e-description {}

@media (max-width : 720px) {
  .e-description {
    margin-left: 3rem !important;
    padding-left: 0.25rem !important;
  }
}

/*
* === other stuff ===
*/
.order-1 {}

@media (max-width : 576px) {
  .order-1 {
    order: -1;
  }
}

.laila {
  width: 38rem;
}

.fa-heart {
  color: var(--light);
}

.text-cc {
  font-size: 0.8rem !important;
}
html, body { overflow-x: hidden; }
