{{ printf "<!-- Engagement section -->" | safeHTML }}
<section class="s5">
  <div class="container">
    {{/* Look for title and subtitle in the config.toml */}}
    {{- with .Site.Params.engagement }}
    <div class="pt-5 text-center ">
      <div class="container">
        <div class="row">
          <div class="col-md-9 mx-auto">
            <h2 class="title-2 text-dark text-mono pb-3">{{ .title }}</h2>
            <p class="subtitle-2 text-dark pb-4">{{ .subtitle }}</p>
          </div>
        </div>
      </div>
    </div>
    <ul class="list list-small list-connected">
      {{/* Look for three engangement items */}}
      {{- range .item }}
      <li class="list-item">
        <div class="row d-flex justify-content-around">
          <div class="col-sm-12 col-md-6">
            {{/* Title */}}
            <h3 class="title-3 e-title">{{ .title }}</h3>
          </div>
          <div class="col-sm-12 col-md-6">
            {{/* Description */}}
            <p class="subtitle-3 e-description">{{ .description }}</p>
          </div>
          <hr>
        </div>
      </li>
      {{- end }}
    </ul>
  </div>
</section>
{{- end }}
