<footer class="bg-dark ">
  <div class="py-3">
    <div class="container">
      <div class="row">

        <div class="col-sm-12 col-md-6 col-lg-6 p-3">
          {{- with .Site.Params.footer }}
          {{- range .text }}
          <h5 class="title-footer">{{ .text }}</h5>
          <p class="mb-0 text-footer pt-1">{{ .description }}</p>
          <p class="mb-0 text-footer pt-1">{{ .trademark }}</p>
          {{- end }}
          {{- end }}
        </div>

        <div class="col-4 col-md-2 col-lg-2 p-3">
          <h5 class="title-footer"> <b>Main</b> </h5>
          <ul class="list-unstyled">
            {{- with .Site.Params.navbar }}
            {{- range .menu }}
            <li> <a class="text-footer" href="{{ .link }}">{{ .text }}</a> </li>
            {{- end }}
            {{- end }}
          </ul>
        </div>

        <div class="col-4 col-md-2 col-lg-2 p-3">
          <h5 class="title-footer"> <b>Legal</b> </h5>
          <ul class="list-unstyled">
            {{- with .Site.Params.footer }}
            {{- range .menu }}
            <li> <a class="text-footer" href="{{ .link }}">{{ .text }}</a> </li>
            {{- end }}
            {{- end }}
          </ul>
        </div>



        <div class="col-4 col-md-2 p-3">
          <h5 class="title-footer"> <b>Follow us</b> </h5>
          <div class="row">
            <div class="col-md-6 d-flex align-items-left py-2">
              <a href="#">
                <i class="fab fa-linkedin fa-lg d-inline px-2 text-light"></i>
              </a>
              <a href="#">
                <i class="fab fa-twitter fa-lg d-inline px-2 text-light"></i>
              </a>
            </div>
          </div>
        </div>
      </div>


      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-12 text-center">
          <p class="mb-0 mt-2 text-footer">Except where otherwise noted, content on this site is licensed under a <br> <i class="fab fa-creative-commons fa-lg d-inline px-2 "></i><a class="text-highlight" href="https://creativecommons.org/licenses/by/4.0/" target="_blank">Creative
              Commons Attribution 4.0 International license</a>.</p>
        </div>
      </div>

        <div class="row justify-content-center">
        <div class="col-sm-12 col-md-10 text-center">
          <p class="mb-0 mt-2 text-footer">Designed with <i class="fas fa-heart d-inline"></i> by <a class="text-hue2" href="https://tothemoon.uy" target="_blank">To The Moon Studio</a>.
        </div>
      </div>
    </div>
  </div>
</footer>
