{{- with .Site.Params.intro }}
<section id="intro" class="">
  <div class="container-fluid intro-bg">
  </div>
  <div class="container-fluid intro">
    <div class="row text-center">
      <div class="col-md-10 mx-auto">
        <img class="img-fluid d-block mx-auto py-3" src="{{ .image }}" width="750">
        <h1 class="title-1 text-dark text-mono">{{ .title }}</h1>
        <p class="subtitle-1 pt-4 text-dark">{{ .subtitle }}</p>

      </div>
    </div>
  </div>

</section>
{{- end }}


<!--    <img src="/img/p1.svg" class="img" alt=""> -->
