{{ "<!-- Intro Section -->" | safeHTML }}
{{- with .Site.Params.intro }}
<section class="h-100 bg-light">
  <div class="container-fluid intro-bg bg-light">
    <div class="container-fluid intro">
      <div class="row text-center align-self-end">
        <div class="col-md-10 mx-auto p-3 bg-light py-4 ">
          <h1 class="title-1 text-dark text-mono">{{ .title }}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center align-self-end">
    <div class="col-md-7 mx-auto p-3 bg-light py-4 ">
      <p class="subtitle-1 p-5 text-dark">{{ .subtitle }}</p>
    </div>
  </div>
</section>
{{- end }}
