{{ "<!-- jQuery -->" | safeHTML }}
<script src="{{ "js/jquery-3.3.1.min.js" | absURL }}"></script>
{{ "<!-- Bootstrap Core JavaScript -->" | safeHTML }}
<script src="{{ "js/bootstrap.bundle.js" | absURL }}"></script>
{{ "<!-- Carousel  -->" | safeHTML }}
<script src="{{ "js/carousel.js" | absURL }}"></script>
<script src="{{ "js/slick.js" | absURL }}"></script>
{{ "<!-- Carousel  -->" | safeHTML }}
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script>
  window.addEventListener("load", function() {
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#333231",
          "text": "#faf8f5"
        },
        "button": {
          "background": "#ffa514"
        }
      }
    })
  });
</script>
