{{ "<!-- Pricing Section -->" | safeHTML }}
{{- with .Site.Params.pricing }}
<section class="bg-hue3 py-5 s5">
  <div class="pt-5 text-center ">
    <div class="container">
      <div class="row">
        <div class="col-md-9 mx-auto">
          <h2 class="title-2 text-dark text-mono pb-3">{{ .title }}</h2>
          <p class="subtitle-2 text-dark pb-4">{{ .description }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <div class="container">
      <div class="row pt-4 justify-content-md-center align-items-center">
        {{- range .item }}
        <div class="col-md-4">
          <div class="card mb-4 bg-light">
            <div class="card-header bg-hue1">
              <h4 class="title-3 text-light"> {{ .title }}</h4>
            </div>
            <div class="card-body">
              <h3 class="display-4"><b>{{ .price }}</b></h3>
              <p class="text-muted">{{ .time }}</small></p>
              <ul class="list-unstyled mt-3 mb-4 subtitle-3">
                {{ if .fact1 }}<li>{{ .fact1 }}</li><hr>{{ end }}
                {{ if .fact2 }}<li>{{ .fact2 }}</li><hr>{{ end }}
                {{ if .fact3 }}<li>{{ .fact3 }}</li><hr>{{ end }}
                {{ if .fact4 }}<li>{{ .fact4 }}</li><hr>{{ end }}
              </ul>
              <a class="btn btn-outline-secondary" href="{{ .buttonLink }}" role="button">{{ .buttonText }}</a>
            </div>
          </div>
        </div>
        {{- end }}
      </div>
    </div>
  </div>
</section>
{{- end }}
