<section id="serv3" class="serv3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8 serv3-txt">
        <h2>AI</h2>
        <h4>Data Science solutions based on AI/ML that maximize the power of the data to surface new insights, risks, and opportunities.</h4>
        <br>
        <button class="btn btn-default btn-lg">Get in Touch</button>
      </div>

      <div class="col-sm-4 serv3-img">
        <span class="glyphicon glyphicon-signal logo"></span>
      </div>
    </div>
  </div>
</section>
