<section id="serv4" class="serv4">
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-4 serv4-img">
        <span class="glyphicon glyphicon-signal logo"></span>
      </div>

      <div class="col-sm-8 serv4-txt">
        <h2>AI</h2>
        <h4>Data Science solutions based on AI/ML that maximize the power of the data to surface new insights, risks, and opportunities.</h4>
        <br>
        <button class="btn btn-default btn-lg">Get in Touch</button>
      </div>

    </div>
  </div>
</section>
