{{- with .Site.Params.service }}
{{- range .item }}
  <section class="serv1">
    <div class="container py-2 ">
      <div class="row align-items-center">
        <div class="col-sm-6">
          <h2>{{ .titleLeft }}</h2>
          <h4 class="text-services">{{ .descriptionLeft }}</h4>
          <br>
          <a class="btn btn-outline-primary" href="{{ .linkLeft }}" role="button">{{ .buttonLeft }}</a>
        </div>
        <div class="col-sm-6">
          <img src="{{ .imgLeft }}" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </section>

<section class="serv2">
    <div class="container py-2">
      <div class="row align-items-center">
        <div class="col-sm-6  mx-auto">
          <img src="{{ .imgRight }}" class="img-fluid p" alt="">
          <span class="glyphicon glyphicon-signal logo"></span>
        </div>
        <div class="col-sm-6">
          <h2>{{ .titleRight }}</h2>
          <h4 class="text-services">{{ .descriptionRight }}</h4>
          <br>
          <a class="btn btn-outline-secondary" href="{{ .linkRight }}" role="button">{{ .buttonRight }}</a>
        </div>
      </div>
    </div>
  </section>
{{- end }}
{{- end }}
