<section class="s3 bg-hue2">
  <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-md-6">
          <h2 class="title-2 text-light text-mono">Free newsletter</h2>
          <p class="mb-4 pb-4 text-light">Just add your mailchimp url in the config ;)</p>

          <form action="{{ .Site.Params.mailchimpURL }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline d-flex justify-content-center" target="_blank" novalidate>
            <div class="input-group">
              <input type="email" placeholder="Your email" value="" name="EMAIL" class="required email form-control text-mono" id="mce-EMAIL">
              <div class="input-group-append">
                <input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-primary text-mono">
          </div>
              </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>
