{{ "<!-- Team section -->" | safeHTML }}
{{- with .Site.Params.team }}
<section class="s3 bg-light">
  <div class="container">
    {{- range .founder }}
    <div class="row py-4">
      <div class="col-sm-4 col-lg-3">
        <img class="img-fluid d-block rounded-circle" src="{{ .img }}">
      </div>
      <div class="col-sm-8 col-lg-9">
        <h4 class="title-3 text-normal"> {{ .name }} </h4>
        <h6 class="subtitle-4 text-mono">{{ .position }}</h6>
        <a href="{{ .twitter }}" class="social-icon" target="_blank"><i class="fab fa-twitter-square fa-lg"></i></a>
        <a href="{{ .linkedin }}" class="social-icon" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a>
        <hr>
        {{- range .about }}
        {{ with .about}}
        <p>{{ . }}</p>
        {{ end }}
        {{- end }}
      </div>
    </div>
    {{- end }}
  </div>
</section>
{{- end }}
